<h1>Test users</h1>

<form action="{% url 'users:addUser' %}" method="post">
{% csrf_token %}
    <label for="input-username">username</label>
    <input type="text" name="username" id="input-username" />  
    <label for="input-password">password</label>
    <input type="text" name="password" id="input-password" /> 
    <input type="submit" value="add" />
</form>

<form action="{% url 'users:removeUser' %}" method="post">
{% csrf_token %}
    <label for="input-username">username</label>
    <input type="text" name="username" id="input-username" />  
    <input type="submit" value="remove" />
</form>