<h1>Please complete your information</h1>

<form action="{% url 'frontend:completeInfo' %}" method="post">
    {% csrf_token %}   
    <label for="input-username">username</label>
    <input type="text" name="username", value="{{user.username}}" id="input-username" disabled />
    <br />
    <label for="input-name">name</label>
    <input type="text" name="name" id="input-name" />
    <br />
    <label for="input-gender">gender</label>
    <br />
    male
    <input type="radio" name="gender" value="male" checked="checked" id="input-gender" />
    female
    <input type="radio" name="gender" value="female" id="input-gender" />
    <br />
    <input type="submit", value="submit" />
</form>
