{% load staticfiles %}

<html>

<head>
  <title>Foyer</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Loading Flat UI -->
  <link rel="stylesheet" href="{% static 'frontend/css/flat-ui.css' %}" />
</head>

<body>

  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <td><h2>News<h2></td>
      </tr>
      <tr>
        <td><a class="btn btn-primary" href="{% url 'frontend:profile' %}">profile</a></td>
      </tr>
      <tr>
        <td><a class="btn btn-primary" href="{% url 'frontend:message' %}">message</a></td>
      </tr>
      <tr>
        <td><a class="btn btn-primary" href="{% url 'frontend:resources' %}">resources</a><br /></td>
      </tr>
      <tr>
        <td><a class="btn btn-primary" href="{% url 'frontend:scores' %}">scores(for team members)</a></td>
      </tr>
      <tr>
        <td><a class="btn btn-primary" href="{% url 'frontend:competitions' %}">competitions(for team members)</a></td>
      </tr>
      <tr>
        <td><a class="btn btn-primary" href="{% url 'frontend:logout' %}">logout</a></td>
      </tr>
    </tbody>
  </table>


</body>

</html>