{% load staticfiles %}
<!DOCTYPE html>

{% include 'frontend/head.html' %}

<link href="{% static 'frontend/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN PAGE -->  

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

				<div class="row-fluid">

					<div class="span12">

						<h3 class="page-title">

							用户资料

							{% if user.userinfo.is_teamMember %}}
								<small>代表队成员</small>
							{% else %}
								<small>普通用户</small>
							{% endif %}
							

						</h3>

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box blue tabbable">

							<div class="portlet-title">

								<div class="caption">

									<i class="icon-reorder"></i>


								</div>

							</div>

							<div class="portlet-body form">

								<div class="tabbable portlet-tabs">

									<ul class="nav nav-tabs">
										{% if user.userinfo.is_teamMember %}
										<li><a href="#portlet_tab2" data-toggle="tab">代表队成员信息</a></li>
										{% else %}
										<li><a href="#portlet_tab2" data-toggle="tab">加入代表队</a></li>
										{% endif %}
										

										<li class="active"><a href="#portlet_tab1" data-toggle="tab">基本信息</a></li>

									</ul>

									<div class="tab-content">

										<div class="tab-pane active" id="portlet_tab1">

											<!-- BEGIN FORM-->

											<form action="{% url 'frontend:completeInfo' %}" method="post" class="form-horizontal">
											{% csrf_token %}
												<div class="control-group">

													<label class="control-label">学号</label>

													<div class="controls">   
														<input class="m-wrap medium" readonly type="text" placeholder="{{ user.username }}"disabled />

													</div>
												</div>

												<div class="control-group">

													<label class="control-label">姓名</label>

													<div class="controls">
														<input type="text" name="name" value="{{ user.userinfo.name }}" class="m-wrap small" />
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">性别</label>
													<div class="controls">
														{% if user.userinfo.gender == '女' %}
														<label class="radio">
														<input type="radio" name="gender" value="男" />
														男
														</label>
														<label class="radio">
														<input type="radio" name="gender" value="女" checked />
														女
														</label>  

														{% else %}

														<label class="radio">
														<input type="radio" name="gender" value="男"
														checked />
														男
														</label>
														<label class="radio">
														<input type="radio" name="gender" value="女" />
														女
														</label> 

														{% endif %}

													</div>
												</div>
									
												<div class="control-group">

													<label class="control-label">院系</label>

													<div class="controls">

														<select name="department" class="small m-wrap" tabindex="1">

															<option title="" value=""></option>
															<option title="建筑学院" value="000"> 建筑学院</option>
															<option title="城规系" value="001"> 城规系</option>
															<option title="建筑系" value="002"> 建筑系</option>
															<option title="土木系" value="003"> 土木系</option>
															<option title="水利系" value="004"> 水利系</option>
															<option title="环境学院" value="005"> 环境学院</option>
															<option title="机械系" value="012"> 机械系</option>
															<option title="精仪系" value="013"> 精仪系</option>
															<option title="热能系" value="014"> 热能系</option>
															<option title="汽车系" value="015"> 汽车系</option>
															<option title="工业工程" value="016"> 工业工程</option>
															<option title="信息学院" value="021"> 信息学院</option>
															<option title="电机系" value="022"> 电机系</option>
															<option title="电子系" value="电子系"> 电子系</option>
															<option title="计算机系" value="计算机系"> 计算机系</option>
															<option title="自动化系" value="025"> 自动化系</option>
															<option title="微纳电子系" value="026"> 微纳电子系</option>
															<option title="航院" value="031"> 航院</option>
															<option title="工物系" value="032"> 工物系</option>
															<option title="化工系" value="034"> 化工系</option>
															<option title="材料学院" value="035"> 材料学院</option>
															<option title="理学院" value="041"> 理学院</option>
															<option title="数学系" value="042"> 数学系</option>
															<option title="物理系" value="043"> 物理系</option>
															<option title="化学系" value="044"> 化学系</option>
															<option title="生命学院" value="045"> 生命学院</option>
															<option title="交叉信息院" value="047"> 交叉信息院</option>
															<option title="经管学院" value="051"> 经管学院</option>
															<option title="公管学院" value="059"> 公管学院</option>
															<option title="金融学院" value="060"> 金融学院</option>
															<option title="人文社科学院" value="061"> 人文社科学院</option>
															<option title="中文系" value="063"> 中文系</option>
															<option title="外文系" value="064"> 外文系</option>
															<option title="法学院" value="066"> 法学院</option>
															<option title="新闻学院" value="067"> 新闻学院</option>
															<option title="马克思主义学院" value="068"> 马克思主义学院</option>
															<option title="人文学院" value="069"> 人文学院</option>
															<option title="社科学院" value="070"> 社科学院</option>
															<option title="美术学院" value="080"> 美术学院</option>
															<option title="土水学院" value="090"> 土水学院</option>
															<option title="建管系" value="091"> 建管系</option>
															<option title="建筑技术" value="099"> 建筑技术</option>		
															<option title="医学院" value="400"> 医学院</option>
															<option title="生医系" value="403"> 生医系</option>
															<option title="软件学院" value="410"> 软件学院</option>
														</select>

													</div>

												</div>

												<div class="control-group">

													<label class="control-label">班级</label>

													<div class="controls">

														<input type="text" name="studentClass" value="{{ user.userinfo.studentClass }}" class="m-wrap small" />

													</div>
												</div>
												<div class="form-actions ">

													<button type="submit" class="btn blue"><i class="icon-ok"></i> 更新资料</button>

													<button type="button" class="btn">放弃编辑</button>

												</div>

											</form>

											<!-- END FORM-->  

										</div>

										<div class="tab-pane " id="portlet_tab2">

											<!-- BEGIN FORM-->

											<form action="{% url 'frontend:applyTeam' %}" method="post" class="form-horizontal">
												{% csrf_token %}
												<div class="control-group">

													<label class="control-label">队伍类别</label>

													<div class="controls">

														<select name="teamCategory" class="small m-wrap" tabindex="1">
															<option value=""></option>

															<option value="A">A</option>

															<option value="B">B</option>

															<option value="C">C</option>

														</select>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label">队内职务</label>

													<div class="controls">

														<select name="teamRole" class="small m-wrap" tabindex="1">
															<option value=""></option>

															<option value="队长">队长</option>

															<option value="团支书">团支书</option>

															<option value="队员">队员</option>

														</select>

													</div>
												</div>

												<div class="control-group">

													<label class="control-label">队名</label>

													<div class="controls">
														<input type="text" name="teamName" class="m-wrap small" />
													</div>
												</div>
													

												<div class="control-group">

													<label class="control-label">教练名称</label>

													<div class="controls">
														<input type="text" name="coach" class="m-wrap small" />
													</div>
												</div>



												<div class="control-group">

													<label class="control-label">出生日期</label>
													<div class="controls">
														<input class="m-wrap m-ctrl-medium date-picker" type="text" name="birth" data-date-format="yyyy-mm-dd" size="16">
													</div>
												</div>

												<div class="control-group">

													<label class="control-label">政治面貌</label>

													<div class="controls">

														<select name="politicalBackground" class="small m-wrap" tabindex="1">

															<option value="Category 1"></option>

															<option value="Category 2">群众</option>

															<option value="Category 3">共青团员</option>

															<option value="Category 4">积极分子</option>

															<option value="Category 5">预备党员</option>

															<option value="Category 6">党员</option>

														</select>

													</div>
												</div>

												<div class="control-group">

													<label class="control-label">电话</label>

													<div class="controls">

														<input type="text" name="phoneNum" value="{{ user.userinfo.studentClass }}" class="m-wrap small" />

													</div>
												</div>

												<div class="control-group">

													<label class="control-label">邮箱</label>

													<div class="controls">

														<input type="text" name="email" value="{{ user.userinfo.studentClass }}" class="m-wrap medium" />

													</div>
												</div>


												<div class="control-group">

													<label class="control-label">住址</label>

													<div class="controls">

														<input type="text" name="address" value="{{ user.userinfo.studentClass }}" class="m-wrap medium" />

													</div>
												</div>

												<div class="control-group">
													<label class="control-label">社会工作</label>
													<div class="controls">
														<textarea class="medium m-wrap" name="work" rows="3"></textarea>
													</div>
												</div>

												<div class="form-actions ">

													<button type="submit" class="btn blue"><i class="icon-ok"></i> 提交申请</button>

												</div>

											</form>

											<!-- END FORM-->  

										</div>

									</div>

								</div>

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

					</div>

				</div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

{% include 'frontend/foot.html' %}
<script type="text/javascript" src="{% static 'frontend/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function() {
	$('.date-picker').datepicker();
	requestListApplies();
});
</script>

</html>