{% load staticfiles %}

<html>

<head>
  <title>Login</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Loading Flat UI -->
  <link rel="stylesheet" href="{% static 'frontend/css/flat-ui.css' %}" />
</head>

<body>

    <h1>Profile</h1>

    <dl>
        <dt>用户名:</dt>
        <dd>{{ user.username }}<dd>
        <dt>姓名:</dt>
        <dd>{{ user.userinfo.name }}</dd>
        <dt>性别:</dt>
        <dd>{{ user.userinfo.gender }}</dd>
        <dt>院系:</dt>
        <dd>{{ user.userinfo.department }}</dd>
        <dt>班级:</dt>
        <dd>{{ user.userinfo.studentClass }}</dd>
    </dl>

    <a class="btn btn-primary" href="{% url 'frontend:logout' %}">Logout</a>

</body>

</html>