{% load staticfiles %}

{% include 'frontend/head.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/timeline.css' %}">
<style type="text/css">
	#timeline {width: 480px;height: 560px;overflow: hidden;position: relative;background: url("{% static 'frontend/image/dot.gif' %}") 160px top repeat-y;}
	#dates {width: 150px;height: 640px;overflow: visible;float: left;}
	#dates li {list-style: none;width: 150px;height: 60px;overflow:visible;line-height: 60px;font-size: 15px; padding-right:20px; text-align:right;}
	#dates a {line-height: 38px;padding-bottom: 10px;}
	#dates .selected {font-size: 24px;}
	#issues {width: 330px;height: 640px; margin-top: 0px;overflow: hidden;float: right;}
	#issues li {width: 330px;height: 640px;list-style: none;float: left;}
	#issues li h1 {color: #ffcc00;font-size: 42px; margin: 30px;height:52px; line-height:52px; text-shadow: #000 1px 1px 2px;}
	#issues li p {font-size: 14px;margin: 30px;line-height: 26px;}
</style>


<div class="row-fluid">
	<div class="span6">
	<div class="portlet">
		<div class="portlet-title line">
			<div class="caption"><i class="icon-calendar"></i>浏览资源</div>
		</div>
		<div class="portlet-body">
			<div id="timeline">
				<ul id="dates" style="height: 800px; margin-top: -428px;">
				</ul>
				<ul id="issues" style="height: 3520px; margin-top: -2640px;">
				</ul>
				<a href="#" id="next" style="display: inline;"></a> <!-- optional -->
				<a href="#" id="prev" style="display: inline;"></a> <!-- optional -->
			</div>
			</div>
		</div>
	</div>

	<div class="span5">
	<div class="portlet">
		<div class="portlet-title line">
			<div class="caption"><i class="icon-bell"></i>我的申请</div>
		</div>
		<div class="portlet-body">
			<table class="table" id="myApplies">
				<tr><th>资源</th><th>时间</th><th>状态</th><th>申请时间</th></tr>
			</table>
		</div>
	</div>
	</div>
</div>

<div id="viewResourceModal" class="modal hide fade in" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal"></a>
		<h3>资源详情</h3>
	</div>
	<div class="modal-body">
		<h4 id="resourceName">name</h4>
		<p id="resourceDate">time</p>
		<p id="resourceDescription">desc</p>
		<hr>
		<h4>申请资源</h4>
		<br/>
		<form id="applyForm" role="form">
			{% csrf_token %}
			<table>
				<tr>
					<td><label for="contact_info">联系方式: </label></td>
					<td><input type="text" id="contact_info" name="contact_info" class="form-control"></td>
				</tr>
				<tr>
					<td><label for="reason">申请理由: </label></td>
					<td><input type="text" id="reason" name="reason"></td>
				</tr>
			</table>
			<input type="hidden" id="resource_one_id" name="resource_one_id">
		</form>
	</div>
	<div class="modal-footer">
		<a id="submitButton" href="javascript:void(0)" class="btn blue" onclick="submitApply()">提交申请</a>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
	</div>
</div>

{% include 'frontend/foot.html' %}

<script type="text/javascript" src="{% static 'frontend/js/jquery.timelinr.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/resources.js' %}"></script>
<script type="text/javascript">
$(function(){
	resetTimelinr()
	requestListResources();
	requestListMyApplies();
});
</script>

