{% load staticfiles %}
{% include 'frontend/head.html' %}
<link href="{% static 'frontend/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>

<div class="portlet paddingless">
    <div class="portlet-title line">
        <div class="caption">用户管理</div>
    </div>
    <div class="portlet-body">
        <div class="tabbable tabbable-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">处理申请</a></li>
                <li><a href="#tab_1_2" data-toggle="tab">用户信息</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <table class="table" id="applies">
                        <thead>
                            <tr>
                                <th>资源</th>
                                <th>时间</th>
                                <th>申请人</th>
                                <th>院系</th>
                                <th>班级</th>
                                <th>联系方式</th>
                                <th>申请理由</th>
                                <th>申请时间</th>
                                <th>回复</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab_1_2">
                    <form role="form" id="addForm">
                    {% csrf_token %}
                    <label>资源名称</label>
                    <input type="text" name="name">
                    <label>资源描述</label>
                    <input type="text" name="description">
                    <label>资源日期</label>
                    <div class="controls">
                        <input class="m-wrap m-ctrl-medium date-picker" size="16" type="text" data-date-format="yyyy-mm-dd" name="dates">
                    </div>
                    </form>
                    <a class="btn blue" href="javascript:void(0)" onclick="addResource()">添加</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'frontend/foot.html' %}
<script type="text/javascript" src="{% static 'frontend/js/resources.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker();
    requestListApplies();
});
</script>

