{% load staticfiles %}
{% include 'frontend/head.html' %}
<link href="{% static 'frontend/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/select2_metro.css' %}" />
<link rel="stylesheet" href="{% static 'frontend/css/DT_bootstrap.css' %}" />

<div class="portlet paddingless">
    <div class="portlet-title line">
        <div class="caption">用户管理</div>
    </div>
    <div class="portlet-body">
        <div class="tabbable tabbable-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">处理申请</a></li>
                <li><a href="#tab_1_2" data-toggle="tab">普通用户信息</a></li>
                <li><a href="#tab_1_3" data-toggle="tab">运动员信息</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <table class="table table-striped table-hover table-bordered" id="applies">
                        <thead>
                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>院系</th>
                                <th>班级</th>
                                <th>队伍类别</th>
                                <th>队名</th>
                                <th>队内职务</th>
                                <th>教练</th>
                                <th>申请时间</th>
                                <th>审批</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="tab_1_2">
                    <form role="form" id="addForm">
                    {% csrf_token %}
                    <label>资源名称</label>
                    <input type="text" name="name">
                    <label>资源描述</label>
                    <input type="text" name="description">
                    <label>资源日期</label>
                    <div class="controls">
                        <input class="m-wrap m-ctrl-medium date-picker" size="16" type="text" data-date-format="yyyy-mm-dd" name="dates">
                    </div>
                    </form>
                    <a class="btn blue" href="javascript:void(0)" onclick="addResource()">添加</a>
                </div>

                <div class="tab-pane" id="tab_1_3">
                    <form role="form" id="addForm">
                    {% csrf_token %}
                    <label>dsfsad</label>
                    <input type="text" name="name">
                    <label>资源描述</label>
                    <input type="text" name="description">
                    <label>资源日期</label>
                    <div class="controls">
                        <input class="m-wrap m-ctrl-medium date-picker" size="16" type="text" data-date-format="yyyy-mm-dd" name="dates">
                    </div>
                    </form>
                    <a class="btn blue" href="javascript:void(0)" onclick="addResource()">添加</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'frontend/foot.html' %}
<script type="text/javascript" src="{% static 'frontend/js/enableAJAX.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/userManagement.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker();
    getTeamMemberApplications();
});
</script>
<script type="text/javascript" src="{% static 'frontend/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/DT_bootstrap.js' %}"></script>
<script src="{% static 'frontend/js/app.js' %}"></script>
<script src="{% static 'frontend/js/table-editable.js' %}"></script>    
<script>
    jQuery(document).ready(function() {       
        App.init();
        TableEditable.init();
    });
</script>
